@import url(normalize.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
  text-decoration: none;
  color: #888888;
  font-family: "Open Sans", sans-serif;
  margin-left: 8px;
  margin-right: 8px; }

.grid__row {
  padding: 1em 10px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .grid__row {
      flex-direction: row; } }
.grid__col--1 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--1 {
      margin-top: 0;
      flex-basis: 8.3333333333%; } }
.grid__col--2 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--2 {
      margin-top: 0;
      flex-basis: 16.6666666667%; } }
.grid__col--3 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--3 {
      margin-top: 0;
      flex-basis: 25%; } }
.grid__col--4 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--4 {
      margin-top: 0;
      flex-basis: 33.3333333333%; } }
.grid__col--5 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--5 {
      margin-top: 0;
      flex-basis: 41.6666666667%; } }
.grid__col--6 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--6 {
      margin-top: 0;
      flex-basis: 50%; } }
.grid__col--7 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--7 {
      margin-top: 0;
      flex-basis: 58.3333333333%; } }
.grid__col--8 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--8 {
      margin-top: 0;
      flex-basis: 66.6666666667%; } }
.grid__col--9 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--9 {
      margin-top: 0;
      flex-basis: 75%; } }
.grid__col--10 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--10 {
      margin-top: 0;
      flex-basis: 83.3333333333%; } }
.grid__col--11 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--11 {
      margin-top: 0;
      flex-basis: 91.6666666667%; } }
.grid__col--12 {
  margin-top: 10px;
  flex-basis: 100%; }
  @media (min-width: 768px) {
    .grid__col--12 {
      margin-top: 0;
      flex-basis: 100%; } }

@media (min-width: 768px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px; } }

.grid__col--12.theme__colors {
  display: flex;
  color: #888888;
  padding-left: 10px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 8px;
  background-color: #80e8d1; }

.grid__col--6.theme__colors {
  display: flex;
  color: #888888;
  padding-left: 10px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 8px;
  background-color: #3fabca; }

.grid__col--4.theme__colors {
  display: flex;
  color: #888888;
  padding-left: 10px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 8px;
  background-color: #7ee6fd; }

.grid__col--3.theme__colors {
  display: flex;
  color: #888888;
  padding-left: 10px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 8px;
  background-color: #deb2ee; }

.grid__col--5.theme__colors {
  display: flex;
  color: #888888;
  padding-left: 10px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 8px;
  background-color: #88d9a0; }

.grid__col--7.theme__colors {
  display: flex;
  color: #888888;
  padding-left: 10px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 8px;
  background-color: #ec9fa3; }

.grid__col--8.theme__colors {
  display: flex;
  color: #888888;
  padding-left: 10px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 8px;
  background-color: #fd9f85; }

.container {
  font-size: 18px;
  line-height: 1.6em; }

.link {
  color: #47d8fc;
  font-weight: bold; }

.blockquote {
  font-size: 26px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2em;
  border-left: 8px solid #4ddeb4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 18px;
  margin-right: 64px; }

.headline--primary {
  color: #4ddeb4;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 1.2em;
  font-size: 32px; }

.headline--secondary {
  font-weight: 100; }

.nav {
  padding-left: 1em;
  font-size: 14px;
  width: 95%;
  text-align: center;
  font-size: 18px; }

.nav__item {
  list-style: none;
  margin-bottom: 5px;
  padding: 10px; }
  .nav__item:hover {
    background-color: #4ddeb4;
    border-radius: 5px; }

.nav__item:hover > a {
  display: block;
  color: #ffffff; }

.img--frame {
  border: 1px solid #888888;
  padding: 10px;
  margin: auto; }

.img--avatar {
  display: flex;
  margin: auto;
  margin-bottom: 16px; }

.img--logo {
  display: block;
  margin: auto; }

.btn--default {
  display: flex;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  margin: 24px auto;
  background-color: #47d8fc; }

.btn--success {
  display: flex;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  margin: 24px auto;
  background-color: #58c577; }

.btn--error {
  display: flex;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  margin: 24px auto;
  background-color: #e0696f; }

.btn--warning {
  display: flex;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  margin: 24px auto;
  background-color: #fd6c4c; }

.btn--info {
  display: flex;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  margin: 24px auto;
  background-color: #8770b9; }

.form__label--hidden {
  display: none; }

.form__input {
  width: 100%;
  font-size: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: #4ddeb4 solid 5px;
  margin-bottom: 36px; }

/*# sourceMappingURL=styles.css.map */
