// components/buttons.scss

// =-=-=-=-=-=-=-= STYLE the BUTTONS =-=-=-=-=-=-=-=-=-=-=-=-=
$btn-types: ("default", "success", "error", "warning", "info");

@each $btn-type in $btn-types {
    .grid__col--12 > .btn--#{$btn-type} {
        @include btn--design;
        @include mq("desktop") {
            width: 16%;
        }
    }
}

// =-=-=-=-=-= SET the BUTTON COLORS =-=-=-=-=-=-=-=-=-=-=-=-=
.btn-- {
    &default {
        background-color: $default-btn-clr;
    }
    &success {
        background-color: $success-btn-clr; //greenish
    }
    &error {
        background-color: $error-btn-clr; //redish
    }
    &warning {
        background-color: $warning-btn-clr; //orangish
    }
    &info {
        background-color: $info-btn-clr; // purplish
    }
}

// =-=-=-=-=-=-=-=-= Fix Minor Anomalies =-=-=-=-=-=-=
.grid__col--12 {
    @include mq("desktop") {
        @include flex-it; // =-=-= call the flexbox mixin =-=-=
    }
}

.theme__colors {
    @include mq("desktop") {
        @include buttons-fixit;
    }
}

.form > .btn--default {
    @include mq("desktop") {
        @include submit-fixit;
    }
}
