// components/buttons.scss


.grid__col--12 {
    @media (min-width: $desktop-breakpoint) {
        @include flex-it;
    }
}

.btn--default {
    @include btn--design;
    background-color: $default-btn-clr;
    margin: 15px 0;
}

.btn--success {
    @include btn--design;
    background-color: $success-btn-clr; //greenish
    margin: 15px 0;
}

.btn--error {
    @include btn--design;
    background-color: $error-btn-clr; //redish
    margin: 15px 0;
}

.btn--warning {
    @include btn--design;
    background-color: $warning-btn-clr; //orangish
    margin: 15px 0;
}

.btn--info {
    @include btn--design;
    background-color: $info-btn-clr; // purplish
    margin: 15px 0;
}

.theme__colors {
    @media (min-width: $desktop-breakpoint) {
        @include buttons-fixit;
    }
}

form .btn--default {
    @media (min-width: $desktop-breakpoint) {
        @include submit-fixit;
    }
}