// /components/forms.scss

// .form {}

.form__label--hidden {
    display: none;
}

.form__input {
    width: 95%;
    font-size: 14px;
    border: none;
    border-bottom: $menu-color solid 5px;
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 18px;
    margin-top: 18px;
    padding-bottom: 12px;
}

.form__input::placeholder {
    font-weight: 600;
    text-indent: 10px;
}