// /components/forms.scss

.form {
    margin-left: 25px;
}
.form__label--hidden {
    display: none;
}

.form__input {
    width: 85%;
    font-size: 14px;
    padding-bottom: 12px;
    border: none;
    border-bottom: $menu-color solid 5px;
    margin-top: 38px;
    margin-left: 2.5em;

    @include mq("desktop") {
        width: 90%;
        margin-top: 1em;
        margin-left: 12px;
    }
}

.form__input::placeholder {
    font-weight: 600;
    text-indent: 10px;
}

.form > .btn--default {
    @include btn--design;
    width: 95%;
    background-color: $default-btn-clr;
    @include mq("desktop") {
        width: 100%;
    }
}
