// ..components/_images.scss

.img--frame {
    display: flex;
    justify-content: center;
    // prevent the image from getting larger
    max-height: 222px;
    max-width: 432px;
    // but allow it to get smaller and stay in aspect ratio
    width: 100%;
    height: auto;

    padding: 0.8em;
    border: 1px solid $body-txt-color;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

    @include mq("desktop") {
        margin-left: 3em;
    }
}

.img--avatar {
    display: flex;
    margin: auto;
}

.img--logo {
    display: block;
    margin: auto;
}
