// ..components/_images.scss

.img--frame {
   display: flex;
   justify-content: center;
   // original size 432 x 222
   height: 200px;
   width: 400px;
   padding: 0.8em;
   border: 1px solid $body-txt-color;
   margin-left: auto;
   margin-right: auto;

   @include mq("desktop") {
      margin-left: 3em;
   }
}

.img--avatar {
   display: flex;
   margin: auto;
}

.img--logo {
   display: block;
   margin: auto;
}
