// ../components/navigation.scss

.nav {
    margin-top: 2em;
    padding-left: 0;
    text-align: center;
    margin-bottom: 5em;
    @include mq("desktop") {
        @include big-screen-menu;
    }
}

.nav__item {
    list-style: none;
    margin-bottom: 5px;
    padding: 10px;
    &:hover {
        background-color: $menu-color;
        border-radius: 5px;
    }
}

.nav__item:hover > a {
    display: block;
    color: $menu-txt-color;
}