// ../components/navigation.scss

.nav {
    width: 100%;
    text-align: center;
    @media (min-width: $desktop-breakpoint) {
        @include big-screen-menu;
    }
}


.nav__item {
    list-style: none;
    margin-bottom: 5px;
    padding: 10px;
    &:hover {
        background-color: $menu-color;
        border-radius: 5px;
    }
}

.nav__item:hover > a {
    display: block;
    color: $menu-txt-color;
}