// ../components/typography.scss

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600, 700');

.container {
    font-size: 16px;
    line-height: 1.6em;
}

.card > .headline--secondary {
    margin-left: 0;
    margin-top: 0;
}

.form > .headline--secondary {
    margin-left: 0;
}

.link {
    color: $link-color;
    font-weight: bold;
    margin: 0;
}

.blockquote {
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    line-height: 1.2em;
    border-left: 8px solid $menu-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 24px;
    padding-left: 24px;
    margin-right: 24px;
}

.headline--primary {
    color: $menu-color;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 1.2em;
    font-size: 26px;
    font-style: 700;
}

.headline--secondary {
    font-weight: 300;
    margin-left: 120px;
}