// ../components/typography.scss

@import url(//fonts.googleapis.com/css?family=Open+Sans);

.container {
    font-size: 18px;
    line-height: 1.6em;
}

.link {
    color: $link-color;
    font-weight: bold;
}

.blockquote {
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2em;
    border-left: 8px solid $menu-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 18px;
    margin-right: 64px;
}

.headline--primary {
    color: $menu-color;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 1.2em;
    font-size: 32px;
}

.headline--secondary {
    font-weight: 100;
}