// ../base/_base.scss

* {
    box-sizing: border-box;
    text-decoration: none;
    color: $body-txt-color;
    font-family: $font-sans;
    //margin-left: 10px;
   // margin-right: 10px;
}


// Only allowed
// ul
ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 24px;
    padding-bottom: 20px;
    margin-right: 0px;
}
// p
// a